.github/**
.vscode/*
.penv/*
target/
build/
**/__pycache__/
*.so
*.md
*.png
*.txt
*.data
*.old
*.log
*.csv
*.svg
shared/**
examples/**
tomii.egg-info/*

.*
!.github/
!.github/workflows/
!.github/workflows/*.yml
!**/.gitignore
