.gitignore
.github/**
.vscode/*
scripts/__pycache__/*
.penv/*
Cargo.lock
target/*
*.so
*.md
*.png
*.txt
*.data
*.old
*.log
*.csv
*.svg
shared/**
cst_macros/**
synstream/__pycache__/*
synstream-core/_examples/**
synstream-core/src/batch_queue_lockfree.rs
synstream-core/src/batch_queue_factory.rs
synstream-core/plot.py
synstream.egg-info/*
synstream-core/src/ignored/**
jraph-py/**
rust-translator/**
test_folder/**
examples/**
.worktrees/*
.*